.howworks_container{
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;


    .howworks__card{
        height: 540px;
        max-width: 1140px;
        display: flex;
        flex-direction: row;
        background-color: #F4F5F6;
        border-radius: 70px;
        margin: 0 auto;

        @media all and (max-width: 600px){
            flex-direction: column;
            height: 1000px;
        }

        h2{
            font-size: 40px;
        }

        .howworks__card__description{
            align-self: center;
            justify-content: flex-start;
            // text-align: center;
            width: 420px;

            @media all and (max-width: 768px){
                width: auto;
            }
        }

        p{
            color: #576D81;
        }

        img{
            height: 120%;
            align-self: center;

            @media all and (max-width: 990px){
                height: 100%;
            }

            @media all and (max-width: 768px){
                height: 80%;
            }

            @media all and (max-width: 600px){
                height: 300px;
            }

        }
    }
}